@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+US+Modern+Guides&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');


.profile-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #050A30;
    gap: 25px;
    align-items: center;
}

.profile-container img {
    width: 364px;
    height: auto;
    align-self: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.profile-container .heading {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
}

.profile-container .heading h1 {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
    color: #7EC8E3;
    font-size: 4em;
    margin: 0;
}

.profile-container .heading .underline {
    height: 2px;
    width: 35%;
    background-color: red;
    margin: 0;
    padding: 0;
}

.profile-container .heading h2 {
    color: white;
    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    
}

.profile-container .about-me {
    width: 80%;
    padding: 25px;
    border-radius: 331% 21% 36% 17% / 0% 100% 0% 100%;
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
    line-height: 27px;
}

.profile-container .about-me h3 {
    color: #bde1ed;
    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
    line-height: 67px;

}

.profile-container .about-me p {
    font-size: 18px;
    color: #bde1ed;

}

.profile-container .awards {
    width: 80%;
    padding: 25px;
    border-radius: 331% 21% 36% 17% / 0% 100% 0% 100% ;
}

.profile-container .awards h3 {
    color: #bde1ed;
    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
}

.profile-container .awards p {
    color: #bde1ed;
}

.profile-container .awards ul {
    padding: 10px;
    color: #bde1ed;
    font-size: 1.2em;
    line-height: 28px;
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

.profile-container .awards ul a {
    color: #3ca3c6;
}
