.projects-container {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgb(5,10,48); 
}

.projects-container h3 {
    color: #bde1ed;
    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
}

.projects-container .projects-box {
    display: flex;
    border-radius: 10px;
    margin-top: 50px;

  }

.projects-container ul {
    
    display: flex;
    gap: 36px;
    padding: 20px;
    justify-content: space-between;
}

.projects-container li {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    color: #bde1ed;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    transition: ease-in-out .25s;
    text-align: center;

}

.projects-container li p a {
    color: #7EC8E3;
    font-size: .6em;
}


.projects-container img {
    height: 360px;
    width: 360px;
    border-radius: 5px;
}

.projects-container li:hover {
   transform: scale(1.25);
}

@media (max-width: 768px) {

    .projects-box ul {
        flex-direction: column;
        place-items: center;
        gap: 60px;
    }

    .projects-container {
        place-items: center;
    }

    .projects-container .projects-box {
        place-items: center;
    }
}
