/* Global styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;

}

/* App container */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll issues */
}

/* Section styles */
section {
  width: 100%;
}
